extends layout

block content
	.jumbotron
		h2 Kentaro Minami
		| Dept. of Mathematical Informatics </br>
		| Graduate School of Information Science and Technology </br>
		| The University of Tokyo, Japan </br>
		| email: kentaro_minami at mist.i.u-tokyo.ac.jp

	.container.main-content
		.row
			.col-md-10.content-area
				.page-header
					h1 Education
				:md
					* PhD candidate at Graduate School of Information Science and Technology, The University of Tokyo (April 2016 - )
					  * supervisor: Fumiyasu Komaki
					* M.S. in Information Science and Technology, The University of Tokyo, March 2016.
					  * supervisor: Hiroshi Nakagawa
					* B.S. in Engineering, The University of Tokyo, March 2014.
					  * supervisor: Fumiyasu Komaki

				.page-header
					h1 Research Interests
				:md
					* Statistical learning theory
					* Statistical decision theory
					* Privacy-preserving data mining/learning
					  * Differential privacy

				.page-header
					h1 Publications
				include:md publications.md

				.page-header
					h1 Links
				:md
					* [Slideshare](http://www.slideshare.net/kentarominami39)
					* [Blog](http://ktrmnm.github.io/blog/)



